<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
<title><%- content.head.title %></title>
<link>https://americaisgoinggreat.com</link>
<atom:link href="https://americaisgoinggreat.com/index.xml" rel="self" type="application/rss+xml" />
<language>en-us</language>
<description><%- content.head.description %></description>

<% 
    var guids = []; 
    function makeUniqueGuid(key) {
        if (key in guids) {
            guids[key] = guids[key] + 1;
            return key + guids[key];
        } else {
            guids[key] = 1;
            return key;
        }
    }
%>
<% content.entries.forEach(function(entry){ %>

<item>
    <title><%= entry.title %></title>
    <description><![CDATA[<%- entry.body %> 

    <!-- Matomo Image Tracker-->
    <img referrerpolicy="no-referrer-when-downgrade" src="https://stats.netninja.com/matomo/matomo.php?idsite=6&amp;rec=1" style="border:0" alt="" />
    <!-- End Matomo -->

    <% if (entry.links) { %>
        <ul>
          <% entry.links.forEach(function (link) { %>
              <li>
                  <a href="<%= link.href %>" target="_blank"><%- link.linkText %></a><%-
                      link.extraText %>
                  (<a href="https://web.archive.org/web/*/<%= link.href %>" target="_blank">Wayback</a>)
                  (<a href="https://archive.is/<%= link.href %>" target="_blank">Archive.is</a>)
              </li>
            <% }) %>
        </ul>
    <% } %>
]]></description>
    <link>https://americaisgoinggreat.com/#<%- entry.id %></link>
    <pubDate><%- utilities.rssDate(entry.datetime, entry.date) %></pubDate>
    <guid>https://americaisgoinggreat.com/<%- makeUniqueGuid(entry.id) %></guid>
</item>
<% }); %>

</channel>
</rss>
